{% extends 'base.html' %}
{% block content %}
<div style="text-align:center" class="col-md-12">
    <div class="row">
        <h3 style="text-align:center" class="center-block">Alta Manual</h3>
    </div>
    <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        {% csrf_token %} 
        
        <h4>Información:</h4>
        <div class="row">
            <input class="textArea" id="rfid" name="rfid" type="text" aria-label="..." placeholder="RFID" required>
        </div>
        
        <div class="row">
                <input class="textArea" id="id" name="id" type="text" aria-label="..." placeholder="ID" required>
        </div>
        <div class="row">
            <input class="textArea" id="nombre" name="nombre" type="text" aria-label="..." placeholder="Nombre" required>
        </div>
        <div class="row">
            <input class="textArea" id="facultad" name="facultad" type="text"  aria-label="..." placeholder="Facultad" required>
        </div>

        <div class="row">
            <h4>Cargo:</h4>
        </div>
        
        <div class="row radioGroup">
            <div class="radioOption">
                <input type="radio" name="cargo" value="director">
                <p>Director</p>
            </div>
            <div class="radioOption">
                <input type="radio" name="cargo" value="maestro" checked>
                <p>Maestro</p>
            </div>
            <div class="radioOption">
                <input type="radio" name="cargo" value="alumno">
                <p>Alumno</p>
            </div>
        </div>
        
        <div class="row">
            <input type="hidden" name="suplente" value="false">
            <input type="checkbox" name="suplente" value="true"> Suplente
        </div>

        <div class="row">
            <h4>Selección de Imagen:</h4>
        </div>
        
        <div class="row uploadButton">
            <input type="file" name="imageToUpload" id="imageToUpload" required>
        </div>    
        
        <div class="row">
            <input class="btn btn-primary" name='submit-form1' type="submit" value="Register" name="submit" required>
        </div>
    </form>
     
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        
        <div class="row">
            <h3>Alta por Archivo</h3>
        </div>
        
        <div class="row uploadButton">
                    <input type="file" name="fileToUpload" id="fileToUpload" required webkitdirectory directory multiple>
        </div>
        
        <div class="row">
            <input class="btn btn-primary" name='submit-form2' type="submit" value="↑ Upload Doc" name="submit">
        </div>
    </form>
</div>
{% endblock %}
 

              
