.textArea {
    padding: 10px 15px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    margin-bottom: 15px;
    width: 300px;
}

.textArea:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.radioGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radioOption {
    width: 100px;
}

.uploadButton {
    display:flex;
    justify-content:center;
    margin:25px 0px;
}

.titleSection {
    position: relative;
}

.resultContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dataContainer {
    background: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    width: 40%;
}

.imageContainer {
    background: aliceblue;
    width: 40%;
}

.dataItem {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.hidden {
    display: none;
}

#gafete {
    width: 7cm;
    height: 10cm;
    background: blue;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
}

.gafeteHeader {
    height: 20%;
    background: green;
    position: relative;
}
.logo {
    height: 100%;
}

.logo img{
    height: 100%;
}

.cutArea {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px dashed #000;
}

.gafeteImage {
    height: 30%;
    background: red;
    margin-top: 15px;
}

.gafeteImage img{
    height: 100%;
}

.gafeteInfo {
    background: yellow;
    margin-top: 30px;
    text-transform: capitalize;
}

.barCode {
    background: purple;
    height: 15%;
}

.barCode img {
    height: 100%;
}