
  {% load staticfiles %}
  <!DOCTYPE html>
  <html>

  <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Track Asistentes Demo</title>

      <!-- Core CSS - Include with every page -->
      <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'base/css/estilos.css' %}" rel="stylesheet">
  </head>

  <body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" >Track Asistentes</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/consultas">Consultas</a></li>
              <li><a href="/altas">Altas</a></li>
              <li><a href="/alta_evento">Altas Eventos</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>

              {% include 'messages.html' %}

              {% block content %}
              {% endblock %}



      <!-- Core Scripts - Include with every page -->
    <script src = "{% static 'base/js/jquery.min.js' %}"></script>
    <script src = "{% static 'base/js/bootstrap.min.js' %}"></script>
    <script src = "{% static 'base/js/jQuery.print.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#printGafete').on('click',function(){
                $("#gafete").removeClass("hidden");
                $("#gafete").print(/*options*/);
                $("#gafete").addClass("hidden");
            });
        });
    </script>
    {% block javascript %}
    {% endblock %}

  </body>

  </html>




