{% extends 'base.html' %}
{% block content %}
<div style="text-align:center" class="col-md-12">
    
    <div style="margin-bottom:10px" class="row">
        <h2>Asistente</h2>
    </div>
    
    <form method="post" action="">
        {% csrf_token %} 
        <input class="textArea" type="text" name='rfid' id ="rfid_box" placeholder="RFID" required>
        <button style="margin-left:10px" class="btn btn-primary" type="submit" name='search_assistant' value="search&assistant"> Buscar</button>
    
        <!-- Generate Gafete -->
        <div class="hidden" id="gafete">
            <div class="gafeteHeader">
                <div class="logo">
                    <img src="../../media/uabclogo.jpg" alt="">
                </div>
                <div class="cutArea"></div>
            </div>
            <div class="gafeteImage">
                <img src= "/{{ image_path }}" alt="Imagen">
            </div>
            <div class="gafeteInfo">
                <h4>{{nombre}}</h4>
                <h5>{{facultad}}</h5>
                <h5>{{cargo}}</h5>
            </div>
            <div class="barCode">
                <img src="/{{ barcode_path }}" alt="">
            </div>
        </div>
            
        {% if success %}

        <button style="margin-left:10px" class="btn btn-primary" type="submit" name='delete_assistant' value="delete&assistant" >Eliminar Asistente</button>
        <div class="row">
            <div class="col_md_10 resultContainer">
                <div class="dataContainer">
                    <div class="dataItem">
                        <h4>Id:&nbsp; &nbsp;</h4> <p class="respuesta">{{id}}</p>
                    </div>
                    <div class="dataItem">
                        <h4>Nombre:&nbsp; &nbsp;</h4><p class="respuesta">{{nombre}}</p>
                    </div>
                    <div class="dataItem">
                        <h4>Facultad:&nbsp; &nbsp;</h4><p>{{facultad}}</p>
                    </div>
                    <div class="dataItem">
                        <h4>Cargo:&nbsp; &nbsp;</h4><p style="text-transform: capitalize;">{{cargo}}</p>
                    </div>
                    <div class="dataItem">
                        <h4>Suplente:&nbsp; &nbsp;</h4><p>{% if suplente == 1 %}Si {% endif %} {% if suplente == 0 %} No {% endif %}</p>
                    </div>
                    <div class="dataItem">
                        <a href="#" id="printGafete" class="btn btn-success" type="submit" name=''>Imprimir Gafete</a>
                    </div>

                </div>
                <div class="imageContainer">
                    <div class="imageItem">
                        <img src= "/{{ image_path }}" alt="Imagen" height="300" width="300" >
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endif %}
{% endblock %}
