{% extends 'base.html' %}
{% block content %}
<div style="text-align:center" class="col-md-12">
    <div class="row">
        <h3 style="text-align:center" class="center-block">Alta de Evento</h3>
    </div>
    <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        {% csrf_token %} 
        
        <div class="row">
            <input class="textArea" id="numero_evento" name="numero_evento" type="text" aria-label="..." placeholder="Numero de evento" required>
        </div>
        
        <div class="row">
                <input class="textArea" id="lugar" name="lugar" type="text" aria-label="..." placeholder="Lugar" required>
        </div>

        <div class="row">
            Fecha del evento: <input type="date" id="fecha" name="fecha" step="1" min="2017-01-01" max="2020-12-31" value="2017-01-01">
        </div>
        
        <br><br>
        <div class="row">
            <input class="btn btn-primary" name='submit-form1' type="submit" value="Register" name="submit" required>
        </div>
    </form>
    
    
</div>
{% endblock %}
 

              
